
<h1>Kids-kiへようこそ！</h1>

<!--<ul id="menubar">-->
<!--<li id="menu1"><a href="#news"><span>お知らせ</span></a></li>-->
<!--<li id="menu2"><a href="#about"><span>当サイトについて</span></a></li>-->
<!--<li id="menu3"><a href="#link"><span>リンク</span></a></li>-->
<!--<li id="menu4"><a href="#contact"><span>Contact<br>お問い合わせ</span></a></li>-->
<!--</ul>-->

	<div class="inner">

	<section>

	<h2><span>Kids-kiを利用するみなさんへ</span></h2>

	<h3>やくそく</h3>
	<p>このウェブアプリは、みなさんが学校で見つけた”気付き”を投稿し、友だち同士で共有できます。</p>
	<p><strong class="color1">自分や友だちの顔や名前の写真を投稿するのはやめましょう。</strong><br></p>
	<p><strong class="color1">使うときは先生の説明をよく聞いてから使いましょう。</strong><br>

	<h3>アカウントのある人は”ログイン”、初めての人は”新規登録”から始めましょう！</h3>
	<!--<p>当テンプレートに梱包されているjsファイルは、<a href="http://www.crytus.co.jp/">有限会社クリタス様</a>提供のものです。ファイルは改変せずにご利用下さい。<br>-->
	<!--また、当サイトのテンプレート「以外」に使いたいなど、「プログラムのみ」を使う場合は<a href="http://template-party.com/free_program/openclose_license.html">こちらの規約</a>をお守り下さい。</p>-->

	<!--<h3>当テンプレートの詳しい使い方は</h3>-->
	<!--<p><a href="#about">こちらをご覧下さい。</a></p>-->

	</section>