<div class="group">
    <h1><%= @group.group_name %></h1>
    <h3>メンバーリスト</h3>
        <div class="list-group">
        <% @group.users.each do |user| %>
          <div class="list-group-item"><%= link_to user.name, user_path(user) %><hr></div>
        <% end %>
        </div>
</div>