<div class="contents row">
  <p><%= @name %>さんの投稿一覧</p>
  <%# @notices.each do |notice| %>
    <%#= render partial: "notices/notice", locals: { notice: notice } %>
    <!--collectionを使う場合はeachは必要ない-->
    <%= render partial: "notices/notice", collection: @notices %>
  <%# end %>
    <a class="btn" href="/notices">投稿一覧へ戻る</a>
  <%= paginate(@notices) %>
</div>