<div class="contents row">
  <p><%= @name %>さんの投稿一覧</p>
  <% @notices.each do |notice| %>
    <%= render partial: "notices/notice", locals: { notice: notice } %>
  <% end %>
  <%= paginate(@notices) %>
</div>